receivers:
  otlp:
    protocols:
      http:
        endpoint: 0.0.0.0:4318

exporters:
  logging:
    loglevel: debug

processors:
  batch:
    send_batch_size: 100
    timeout: 10s
  attributes:
    actions:
      - key: service.name
        action: upsert

service:
  pipelines:
    traces:
      receivers: [otlp]
      processors: [batch, attributes]
      exporters: [logging]
