global:
  scrape_interval: 30s
  scrape_timeout: 10s
  evaluation_interval: 30s

scrape_configs:
  - job_name: 'account'
    static_configs:
      - targets: ['account:8080']
    metrics_path: '/account/actuator/prometheus'

  - job_name: 'card'
    static_configs:
      - targets: ['card:9000']
    metrics_path: '/card/actuator/prometheus'

  - job_name: 'loan'
    static_configs:
      - targets: ['loan:8090']
    metrics_path: '/loan/actuator/prometheus'

  - job_name: 'customer-gateway'
    static_configs:
      - targets: ['gateway:8000']
    metrics_path: '/actuator/prometheus'

  - job_name: 'otel-collector'
    static_configs:
      - targets: ['otel-collector:8889']
    metrics_path: '/metrics'
