server:
  port: 8000

spring:
  application:
    name: gateway
  threads:
    virtual:
      enabled: true
  jackson:
    default-property-inclusion: non_null
  cloud:
    gateway:
      mvc:
        routes:
          - id: account-service
            uri: ${services.account-url}
            predicates:
              - Path=/account/**
          - id: card-service
            uri: ${services.card-url}
            predicates:
              - Path=/card/**
          - id: loan-service
            uri: ${services.loan-url}
            predicates:
              - Path=/loan/**

services:
  account-url: http://localhost:8080
  card-url: http://localhost:9000
  loan-url: http://localhost:8090

resilience4j:
  circuitbreaker:
    instances:
      account-service:
        registerHealthIndicator: true
        failureRateThreshold: 50
        slowCallRateThreshold: 50
        slowCallDurationThreshold: 2s
        waitDurationInOpenState: 10s
        permittedNumberOfCallsInHalfOpenState: 3
        minimumNumberOfCalls: 5
      card-service:
        registerHealthIndicator: true
        failureRateThreshold: 50
        slowCallRateThreshold: 50
        slowCallDurationThreshold: 2s
        waitDurationInOpenState: 10s
        permittedNumberOfCallsInHalfOpenState: 3
        minimumNumberOfCalls: 5
      loan-service:
        registerHealthIndicator: true
        failureRateThreshold: 50
        slowCallRateThreshold: 50
        slowCallDurationThreshold: 2s
        waitDurationInOpenState: 10s
        permittedNumberOfCallsInHalfOpenState: 3
        minimumNumberOfCalls: 5

management:
  endpoints:
    web:
      exposure:
        include: health,info,gateway
  health:
    circuitbreakers:
      enabled: true