k8s:
  replicas: 1

  resources:
    requests:
      memory: "224Mi"
      cpu: "100m"
    limits:
      memory: "448Mi"
      cpu: "350m"

  hpa:
    enabled: true
    minReplicas: 1
    maxReplicas: 2

  ingress:
    enabled: true
    className: "nginx"
    host: "gateway.example.com"
    tls: []

  service:
    type: LoadBalancer
