{{- if and .Values.enabled .Values.otelCollector.enabled }}
apiVersion: v1
kind: ConfigMap
metadata:
  name: otel-collector-config
  namespace: {{ .Values.namespace }}
  labels:
    {{- include "observability.labels" . | nindent 4 }}
data:
  otel-collector-config.yaml: |
    extensions:
      health_check:
        endpoint: 0.0.0.0:13133

    receivers:
      otlp:
        protocols:
          http:
            endpoint: 0.0.0.0:{{ .Values.otelCollector.service.ports.otlpHttp }}
          grpc:
            endpoint: 0.0.0.0:{{ .Values.otelCollector.service.ports.otlpGrpc | default 4317 }}

    processors:
      batch:
        send_batch_size: {{ .Values.otelCollector.config.processors.batch.send_batch_size }}
        timeout: {{ .Values.otelCollector.config.processors.batch.timeout }}

    exporters:
      logging:
        loglevel: {{ .Values.otelCollector.config.exporters.logging.loglevel }}

      otlp/tempo:
        endpoint: tempo:{{ .Values.tempo.service.ports.otlp }}
        # gRPC protocol is default for OTLP

      prometheus:
        endpoint: "0.0.0.0:{{ .Values.otelCollector.service.ports.prometheus }}"

    service:
      extensions: [health_check]
      pipelines:
        traces:
          receivers: [otlp]
          processors: [batch]
          exporters: [logging, otlp/tempo]
        metrics:
          receivers: [otlp]
          processors: [batch]
          exporters: [prometheus]
{{- end }}
