# Loan service - Staging environment - Kubernetes configuration
k8s:
  replicas: 1

  resources:
    requests:
      memory: "224Mi"
      cpu: "100m"
    limits:
      memory: "448Mi"
      cpu: "350m"

  hpa:
    enabled: true
    minReplicas: 1
    maxReplicas: 2
    targetCPU: 95
    targetMemory: 95

  ingress:
    enabled: false

  service:
    type: NodePort

  probes:
    liveness:
      enabled: true
      initialDelaySeconds: 120
      periodSeconds: 10
    readiness:
      enabled: true
      initialDelaySeconds: 90
      periodSeconds: 5

postgresql:
  storage: 5Gi
  resources:
    requests:
      memory: "224Mi"
      cpu: "100m"
    limits:
      memory: "448Mi"
      cpu: "350m"
