apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "eazybank-service.fullname" . }}
  labels:
    {{- include "eazybank-service.labels" . | nindent 4 }}
data:
  SPRING_PROFILES_ACTIVE: {{ .Values.app.spring.profiles | quote }}
  SPRING_DATASOURCE_URL: {{ include "eazybank-service.datasourceUrl" . | quote }}
  SPRING_DATASOURCE_USERNAME: {{ .Values.app.datasource.username | quote }}
  SERVER_PORT: {{ .Values.service.port | quote }}
  SERVER_SERVLET_CONTEXT_PATH: {{ .Values.service.contextPath | quote }}
  {{- if .Values.app.support.contactName }}
  APP_SUPPORT_CONTACT_NAME: {{ .Values.app.support.contactName | quote }}
  {{- end }}
  {{- if .Values.app.support.contactEmail }}
  APP_SUPPORT_CONTACT_EMAIL: {{ .Values.app.support.contactEmail | quote }}
  {{- end }}
  {{- if .Values.app.support.message }}
  APP_SUPPORT_MESSAGE: {{ .Values.app.support.message | quote }}
  {{- end }}
  {{- range $key, $value := .Values.app.env }}
  {{ $key }}: {{ $value | quote }}
  {{- end }}
