management:
  tracing:
    sampling:
      probability: 0.1
  endpoints:
    web:
      exposure:
        include: health,metrics,prometheus,circuitbreakers
logging:
  level:
    org.springframework.cloud.gateway: INFO
    io.github.resilience4j: INFO